.categoryName {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    color: #333;
}
.categoryChildern {
  font-size: 0.8rem;
  color: #333;
}

.titleChildren {
  margin-top:0.8rem;
 font-size: 0.9rem;
 color: blue;
}