.categoryName {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: #333;
}

.categoryPhoto {
  color: rgb(61, 106, 243);
  text-decoration: none;
}

.containerButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}


.containerCategory {
  margin-top: 0.2rem; 
  display: flex;
  flex-direction: column;
}
